* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 42px 20px 9px;
}

.content {
  background-color: white;
  height: 100%;
  width: 100%;
  padding-top: 190px;
}

.content-box {
  border-top: 1px solid black;
}
