@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: rgb(33, 33, 33);
  min-height: 100vh;
  padding: 42px;
}

nav {
  display: flex;
  position: absolute;
  z-index: 0;
  color: white;
  width: 925px;
  height: 55px;
  transform: translate(-11.3%, 40%);
}

nav .blue-bar {
  background-color: #1da1b8;
  width: 48%;
  height: 100%;
}

nav .orange-bar p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #1da1b8;
  position: absolute;
  margin-top: -80px;
}

nav .orange-bar {
  display: flex;
  align-items: center;
  margin-left: 3px;
  padding-left: 40px;
  background-color: #faa542;
  width: 52%;
  height: 100%;
  border-radius: 0 25px 25px 0;
  font-size: 22px;
  font-weight: 900;
}

.top-content {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 1030px;
  margin: auto auto;
  padding: 145px 105px 0;
}

.mid-content {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 1030px;
  margin: auto auto;
  padding: 0 105px;
}

.personal-data {
  width: 40%;
  position: relative;
  z-index: 1;
}

.id-picture {
  background-image: url('../img/id-picture.jpeg');
  width: 100%;
  height: 380px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: -20px;
}

.personal-data .title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faa542;
  color: white;
  width: 100%;
  height: 55px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 6px;
  margin-bottom: -40px;
  margin-left: 0;
}

.personal-data .title span {
  color: white;
  position: relative;
  bottom: 0.1em;
  right: 0;
  font-size: x-small;
}

.personal-data ul {
  border: 1px solid rgb(153, 153, 153);
  border-top: 0;
  margin: auto -1px;
  padding: 60px 30px 20px;
  font-size: 14px;
  list-style-type: none;
  font-weight: 900;
}

.personal-data p {
  color: rgb(68, 68, 68);
}

.personal-data li {
  margin: 10px;
  margin-bottom: 20px;
}

.right-box {
  border-bottom: 1px solid rgb(153, 153, 153);
  margin-top: 80px;
  width: 60%;
  height: auto;
  padding-top: 60px;
  padding-left: 50px;
}

.right-box .title {
  color: rgb(153, 153, 153);
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 5px;
  margin-bottom: 40px;
  margin-left: -22px;
}

.right-box .title span {
  position: relative;
  bottom: 0.1em;
  right: -7px;
  color: #1da1b8;
  font-size: x-small;
}

.right-box p {
  color: #1da1b8;
  font-size: 18px;
}

.right-box li {
  margin-top: 25px;
  color: rgb(68, 68, 68);
  font-size: 14px;
  list-style-type: none;
}

.right-box li span {
  font-weight: 900;
  color: black;
}

.academic-data {
  padding-bottom: 40px;
}

.right-box hr {
  width: auto;
  margin-left: -20px;
  border: 0;
  border-top: 1px solid rgb(153, 153, 153);
}

.work-data {
  margin-top: 60px;
}

.language-data {
  position: relative;
  width: 40%;
  margin: auto 1px;
  padding: 40px 39px 20px;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.language-data:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 25%;
  height: 50%;
  border-right: 1px solid rgb(153, 153, 153);
}

.mid-content .title {
  color: rgb(153, 153, 153);
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 5px;
  margin-left: -23px;
  margin-bottom: 25px;
}

.mid-content .title span {
  position: relative;
  bottom: 0.1em;
  right: -7px;
  color: rgb(255, 51, 51);
  font-size: x-small;
}

.mid-content ul {
  list-style-type: none;
}

.mid-content p {
  color: rgb(68, 68, 68);
}
